@import "tailwindcss";

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

@font-face {
  font-family: 'KantumruyPro';
  src: url('assets/fonts/KantumruyPro-Medium.ttf');
}

body {
  font-family: 'KantumruyPro', sans-serif;
}

